@font-face {
  font-family: prstart;
  src: url('../font/pres start2p.ttf');
}

* {
  padding: 0;
  margin: 0;
  user-select: none;
}
html,
body {
  width: 100vw;
  height: 100vh;
}
body {
  background: url('../img/bilibili.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* TODO 删除这个属性 */
/* body::after {
  content: '';
  position: absolute;
  width: 1000000px;
  height: 100vh;
  background: #fff7;
} */

#continer {
  overflow: hidden;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 900px;
  height: 600px;
  border: 1px solid rgba(117, 115, 115, 0.753);
  box-shadow: 8px 6px 10px rgba(117, 115, 115, 0.453);
}
#continer::before {
  content: '';
  position: absolute;
  background: #fff3;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
}
#gameBox {
  width: 600px;
  height: 600px;
  box-sizing: padding-box;
  position: absolute;
}
#wall {
  width: 1px;
  height: 100%;
  background: #757373c0;
  position: absolute;
  left: 600px;
  top: 0;
}
#mesBox {
  text-align: center;
  width: 300px;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  right: 0;
}
/* 背景层 */
#canvas {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid rgba(117, 115, 115, 0.753);
  background: #000;
}
#tips {
  width: 100%;
  height: 60%;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  color: #4e4e4e;
}
#player1,
#player2 {
  position: relative;
  margin: 15px;
  display: block;
  width: 70%;
  text-align: left;
  font-size: 16px;
  font-weight: bolder;
}
#player1_mes,
#player2_mes {
  font-size: 14px;
}
#copyRight {
  position: absolute;
  bottom: 50px;
  right: 45px;
  font-size: 10px;
  color: grey;
}

h3 {
  -webkit-background-clip: text !important;
  font-weight: 900;
  font-size: 36px;
  background-clip: text;
  padding: 30px;
  color: transparent;
  background: url('../img/text.png');
}
